---
import PersonalityCard from "../../components/IndexCard/PersonalityCard.astro";
import CharacterCard from "../../components/IndexCard/CharacterCard.astro";
import '../../styles/global.css';
import DefaultLayout from "../../layout/DefaultLayout.astro";
---

<DefaultLayout>
  <main>
    <div class="card-box">
      <PersonalityCard title="性格" content="無関心" />
    </div>
    <div class="card-box">
      <CharacterCard title="キャラクター" content="先輩" />
    </div>
  </main>
</DefaultLayout>

<style>
  body {
    background-color: white;
  }

  main {
    display: grid;
    height: 100svh;
    grid-template-columns: 3fr 3fr;
    align-items: center;
  }

  .card-box {
    margin: 50px;
    width: 500px;
  }
</style>