---
import CharacterCard from "./CharacterCard.astro";
import PersonalityCard from "./PersonalityCard.astro";
---

<div class:list={["card-box", "personality-card"]} id="personality-card-box">
  <PersonalityCard title="性格" content="乙女の" />
</div>
<div class:list={["card-box", "character-card"]} id="character-card-box">
  <CharacterCard title="キャラクター" content="後輩" />
</div>

<style>
  .card-box {
    width: 550px;
    transition: none;
  }

  .personality-card.animate {
    animation: slidePersonality 1.0s ease-out;
    rotate: -2deg;
  }

  .character-card.animate {
    animation: slideInCharacter 1.5s ease-out;
    rotate: 2deg;
  }

  @keyframes slideInCharacter {
    0% {
      opacity: 0;
      transform: translateY(-100%) translateX(20%);
    }
    25% {
      opacity: 0;
      transform: translateY(-100%) translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }


  @keyframes slidePersonality {
    0% {
      opacity: 0;
      transform: translateY(-100%) translateX(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
    
  }

  .identity-card {
    z-index: -1;
  }
  .character-card {
    z-index: calc(infinity);
  }

  @media screen and (max-width: 600px) {
    .card-box {
      width: 100%;
      height: 100%;
    }
  }
</style>

<script>
  import { personalityList, characterList } from "../../index.ts";

  function getRandom(arr: string[]) {
    return arr[Math.floor(Math.random() * arr.length)];
  }
  type CardUpdate = {
    cardId: string;
    arr: string[];
  };
  function updateCard({cardId, arr}: CardUpdate) {
    const box = document.getElementById(cardId);
    if (!box) return;
    const p = box.querySelector(".text p");
    if (!p) return;
    box.classList.remove("animate");
    void box.offsetWidth;
    box.classList.add("animate");
    p.textContent = getRandom(arr);
  }
  let toggle = true;
  setInterval(() => {
    if (toggle) {
      updateCard({
        cardId: "personality-card-box",
        arr: personalityList
      });
    } else {
      updateCard({
        cardId: "character-card-box",
        arr: characterList
      });
    }
    toggle = !toggle;
  }, 2500);
</script>