---
const { content } = Astro.props;
const rotate = Math.random() * 2 - 1;
---

<div class="card-box" style={`rotate: ${rotate}deg;`}>
  <div class="card">
    <div class="title">
      <p>キャラクター</p>
    </div>
    <div class="text">
      <p>{content}</p>
    </div>
  </div>
  <div class="card-shadow"></div>
</div>

<style>
  .card-box.animate {
    animation: slideInCharacter 0.8s ease-out;
  }

  .card-box {
    display: grid;
    place-items: center;
  }

  .card {
    position: relative;
    width: 100%;
    background-color: #C4D4F2;
    background: linear-gradient(260deg, #dfe7ff 10%, #e8f0ff 100%);

    padding: 5% 8%;
  }

  @keyframes slideInCharacter {
    0% {
      opacity: 0;
      transform: translateY(-100%) translateX(20%);
    }
    15% {
      opacity: 0;
      transform: translateY(-100%) translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }

  .title p {
    font-size: 1.4rem;
    color: #bbb;
    user-select: none;
  }

  .text p {
    font-size: 1.6rem;
    text-align: center;
  }

  .card-shadow {
    position: relative;
    width: 100%;
    height: 1px;
  }

  .card-shadow:before, .card-shadow:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0px;
    left: 10px;
    width: 40%;
    height: 1px;
    max-width:300px;
    box-shadow: 0 15px 10px #777;
    transform: translateY(-16px) rotate(-3deg);
  }

  @media screen and (max-width: 600px) {
    .title p {
      font-size: 1rem;
    }
    .text p {
      font-size: 1.2rem;
    }
  }
</style>